body {
    font-family: "Open Sans",arial,sans-serif;
    color: #444;
    background-color: #DDD;
    display: flex;
    margin: 0;
    flex-direction: row;
}

.links {
    padding: 5px;
    width: 30vw;
    min-width: 120px;
    background-color: #BBB;
    height: 100vh;
}

.content {
    padding: 10px;
}